body{
    background: #282828;
    color:#eee;
}

::-webkit-scrollbar-track { background: #aaa}
::-webkit-scrollbar-thumb { background: #444;}
::-webkit-scrollbar-thumb:window-inactive { background: #fff;}
a{ color:#CC9900 }
input { background: #336699 !important; font-size: 16px !important; color: #fefefe !important; border-color:#444!important; }
#status .normal {color:#CC9900;}
#status .error {color:#b92c28;}
    #status .error .info { color:#b92c28; }
#status{ text-shadow:  1px 1px 2px #222}
#Content .setting{ background: transparent; }
header ul li{ background: transparent; color:#fefefe }
header .actionbar-left a{ color: #fefefe !important; }

#Content .nav>li{width: 33%;  margin-bottom: 2px}
#Content .terminal .terminal { background-color: transparent;color: #CC9900 }
#Content .nav>li>a { padding:5px; border:0;  background: #eee ;color: #444}
#Content .nav-tabs>li>a {  border-radius: 5px}
#Content .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {background-color: #CC9900; color:#666}
#Content .alert{ ; border: 0}
/*.nav>li>a:hover { background: #428bca; color:#fefefe}*/


.nav a:hover { background: #444 !important; color:#eee }
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    color: #fefefe;    background-color: #336699;
}
#ping_view .ping-info { background: #336699; color:#fff; border-radius: 5px}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{ border-color: #666 }

input[disabled] { background: transparent !important; color:#eee; box-shadow: none}

.text-danger{ color: #c9302c }
.text-warning { color: #CC9900 }
.text-success { color: #669900}

.well { background: #444444; border:none; box-shadow: none }

.panel.panel-primary { background: #336699; border:none;}
.panel.panel-primary input { background: #eee!important; color:#444 !important; border:none }
.panel .help-block { color:#eea236 }