#status{ text-shadow: 2px 2px 2px #efefef}
#status .normal { color:#ffcc00;}
#status .error { color:#b92c28; }
#status .error .info { color:#b92c28; }
header .actionbar-left a{ color: #eea236 !important; }
#Content .setting{ background: #f3f3f3  }

/*input { border:1px !important; }*/
input[readonly],input[disabled]{border-width: 0 !important; }
.reverse-video {
    color: #f0f0f0;
    background: #fff;
}
::-webkit-scrollbar-track { background: #ddd}
::-webkit-scrollbar-thumb { background: #999;}
::-webkit-scrollbar-thumb:window-inactive { background: #fff;}
#Content .terminal .terminal { background-color: #336699;color: #fff }

#ping_view .ping-obj > span { background: #eee; color:#000;}
#ping_view .ping-obj > span.address { background: #428bca; color:#fff; }

#Content .nav>li{ width: 33%; margin-bottom: 2px}
#Content .nav>li>a { padding:5px 5px; background: #ddd; color: #444 }
#Content .nav-tabs>li>a { border-radius: 5px; border:0 }
#Content .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus { background-color: #999; border:0; color:#fff}

#ping_view .ping-info { background: #428bca; color:#fff; border-radius: 5px }

/*#login { background-color: #eee; padding-top: 10px; padding-bottom: 10px; border-radius: 5px; }*/

input[disabled] { background: transparent !important; box-shadow: none}
.well { box-shadow: none; border:none; background: #eee }