<div id="account_details">
    <h3 class=" text-warning">
        <i class="fa fa-fw fa-credit-card"></i>{{account.title}} <span class="pull-right"><i
            class="fa fa-fw fa-cny"></i>{{account.amount}}</span>
    </h3>

    <div class="well">
        <div id="chart">
            <canvas id="canvas" height="150" width="600"></canvas>
        </div>
    </div>
    <div>
        <p class="text-right">
            <i class="fa fa-fw fa-plus text-success fa-lg" ng-click="Account_Detail_Pre_Add()"></i>&nbsp;&nbsp;&nbsp;
        </p>

        <div class="well well-sm detail_form" style="display: none">
            <p class="text-right"><i class="fa fa-times fa-lg" ng-click="Account_Detail_Add_Close()"></i></p>

            <form class="form-horizontal " name="details_form" role="form">
                <div class="form-group">
                    <label for="account_name" class="col-sm-2 control-label">{{i18n.AccountDetail.title}}</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="account_detail.title" id="account_name"
                               placeholder="{{i18n.AccountDetail.title}}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sum" class="col-sm-2 control-label">{{i18n.AccountDetail.sum}}</label>

                    <div class="col-sm-10">
                        <input type="number" class="form-control" ng-model="account_detail.sum" id="sum"
                               placeholder="{{i18n.AccountDetail.sum}}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="purpose" class="col-sm-2 control-label">{{i18n.AccountDetail.purpose}}</label>

                    <div class="col-sm-10">
                        <input type="number" class="form-control" ng-model="account_detail.purpose" id="purpose"
                               placeholder="{{i18n.AccountDetail.purpose}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="memo" class="col-sm-2 control-label">{{i18n.AccountDetail.memo}}</label>

                    <div class="col-sm-10">
                        <input type="number" class="form-control" ng-model="account_detail.amount" id="memo"
                               placeholder="{{i18n.AccountDetail.memo}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" ng-disabled="details_form.$invalid" ng-class="{'btn-primary':details_form.$valid,'btn-default':details_form.$invalid}" class="btn btn-block" ng-click="Account_Detail_Submit(account_detail)">
                            {{i18n.submit}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <table class="table text-center">
            <thead>
            <tr>
                <th class="text-center">{{i18n.AccountDetail.title}}</th>
                <th class="text-center">{{i18n.AccountDetail.sum}}</th>
                <th class="text-center">{{i18n.AccountDetail.amount}}</th>
                <th class="text-center">{{i18n.AccountDetail.user}}</th>
                <th class="text-center">{{i18n.AccountDetail.date}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="r in details">
                <td><i class="fa fa-fw fa-book"></i>{{r.title}}</td>
                <td><span
                        ng-class="{'text-danger': r.sum<0, 'text-success': r.sum>0}"><i class="fa fa-fw fa-cny"></i>{{r.sum>0?"+":""}}{{r.sum}}</span>
                </td>
                <td class="text-warning"><i class="fa fa-fw fa-cny"></i>{{r.amount}}</td>
                <td><i class="fa fa-user fa-fw"></i>{{r.user.name}}</td>
                <td><i class="fa fa-clock-o fa-fw"></i>{{r.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>