/*#logo .cycle {*/
    /*-webkit-animation: logo_start 2s infinite both ;*/
   /*opacity: 0;*/
/*}*/

/*@-webkit-keyframes logo_start {*/
    /*0% {}*/
    /*5%{opacity: 1;}*/
    /*40% {opacity: 0; border-width: 4px }*/
    /*50% {width:80px; height:80px; left:-8px; top:-8px;}*/
    /*100%{top:16px; left:16px;width:32px; height:32px;}*/
/*}*/


header .actionbar li:hover { color:#fff; background: #269abc }
header .actionbar li.active { color:#fff; background: #269abc }
header .actionbar li.close_button:hover { color:#fff; background: #ac2925 }

#logo .fa-check { color: #449d44; -webkit-animation: state_hide 4s both; }
@-webkit-keyframes state_hide {
    0% {}
    80%{opacity: 1}
    100%{opacity: 0}
}
/*#logo .fa-spinner { -webkit-animation: state_hide .5s both; }*/
/*@-webkit-keyframes state_hide {*/
    /*0% {opacity: 0}*/
    /*100%{opacity: 1}*/
/*}*/