/*#logo .cycle {*/
    /*-webkit-animation: logo_start 2s infinite both ;*/
   /*opacity: 0;*/
/*}*/

/*@-webkit-keyframes logo_start {*/
    /*0% {}*/
    /*5%{opacity: 1;}*/
    /*40% {opacity: 0; border-width: 4px }*/
    /*50% {width:80px; height:80px; left:-8px; top:-8px;}*/
    /*100%{top:16px; left:16px;width:32px; height:32px;}*/
/*}*/


header .actionbar-right li:hover { color:#fff; background: #269abc }
header .actionbar-right li:hover a{ color:#fff;  }
header .actionbar-right li.active { color:#fff; background: #269abc }
header .actionbar-right li.close_button:hover { color:#fff; background: #ac2925 }

#status .normal .fa-check { color: #449d44; -webkit-animation: state_success 4s both; }
#status .normal .fa-spinner { color: #eea236}
#status .error .fa,#status .error .info { color: #b92c28; -webkit-animation: state_error 2s infinite both;}
@-webkit-keyframes state_success {
    0% {}
    80%{opacity: 1}
    100%{opacity: 0}
}

@-webkit-keyframes state_error {
    0% {color: #b92c28;}
    25%{color:#fff}
    50%{color: #b92c28;}
    75%{color: #fff;}
    100%{color: #b92c28;}
}
/*#logo .fa-spinner { -webkit-animation: state_hide .5s both; }*/
/*@-webkit-keyframes state_hide {*/
    /*0% {opacity: 0}*/
    /*100%{opacity: 1}*/
/*}*/