header {
    height: 30px;
    line-height:30px;
    overflow: hidden;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

header .actionbar{ margin:0; padding: 0;  list-style: none; float: right; color:#aaa;  -webkit-app-region: no-drag;
    -webkit-user-select: none;   }
    header .actionbar li { display: inline-block; width:30px; height:30px; text-align: center; transition: color 1s;
        background: #fff; float: left; cursor:pointer }
        header .actionbar li { transition: background 1s linear  }
#logo { float: left}
#logo .cycle {
    border-radius: 80px;
    position: absolute;
    width: 32px;
    height: 32px; border: 3px solid #ffcc00;
    line-height: 32px;
    text-align:center;
    display: block;
    top:16px;
    left:16px;
}
#logo .icon { position: absolute; left:18px; top:16px; font-size:32px; color:#ffcc00; }