@font-face {
    font-family: 'Mono';
    src: url('./Droid Sans Mono.ttf') format('truetype');
}
* {transition: background 0.5s; }

body, html {height:100%; overflow: hidden; border-radius: 5px; -webkit-user-select: none; font-family: "Helvetica Neue", "Helvetica", Helvetica, 'Microsoft YaHei UI' ,'Microsoft YaHei', sans-serif }

header {
    height: 30px;
    line-height:30px;
    overflow: hidden;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

header .actionbar{ margin:0; padding: 0;  list-style: none; float: right; color:#aaa;  -webkit-app-region: no-drag;
    -webkit-user-select: none;   }
    header .actionbar li { display: inline-block; width:30px; height:30px; text-align: center; transition: color 1s;
         float: left; cursor:pointer }
        header .actionbar li { transition: background 1s linear }
form label { font-family: 'Helvetica',serif; font-weight: normal }


#wrap{height:100%;}
    #wrap section{ margin-bottom: 30px}
#logo { float: left; z-index:1000}
/*#logo .cycle {*/
    /*border-radius: 80px;*/
    /*position: absolute;*/
    /*width: 32px;*/
    /*height: 32px; ;*/
    /*line-height: 32px;*/
    /*text-align:center;*/
    /*border: 3px solid #ffcc00;*/
    /*display: block;*/
    /*top:16px;*/
    /*left:16px;*/
/*}*/
#logo .icon { position: absolute; left:18px; top:16px; font-size:32px;  }

#NavBar { margin-top: 50px; height: 90%;  }
    #NavBar > ul.nav-pills>li a{ transition:background 0.3s;  }
#Content { height: 100%; margin-top:15px; overflow-y: auto}
    #Content  .terminal { height: 100%; }
    #Content .terminal .terminal { padding: 5px; }
    #Content > .terminal { font-family: 'Mono' serif; font-size: 12px !important ;  -webkit-user-select:text;}
        #Content > .terminal .content {  height: 100%; border-radius: 5px; overflow:hidden; }
    #Content .setting{ height: 100%; border-radius: 5px; padding-top: 20px }

#ping_view{ height:100%}
    #ping_view .tab-content{padding-top: 5px; }
        #ping_view .tab-content .alert{ padding: 5px 10px; margin-bottom: 5px }
    #ping_view .nav li a{ cursor: pointer;}
    #ping_view .setting { height: 100%;  padding-top: 20px}
    #ping_view .nav-tabs { border:0; height: 32px}
    #ping_view .data-block { margin-top: 10px;}
        #ping_view .data-block > .ping-obj {padding: 0 5px; width: 100%; margin-bottom: 1px;}
            #ping_view .ping-obj > span {float:left; display: inline-block; padding: 0 5px; height: 30px; line-height: 30px; margin-right: 1px; width:10%; text-align: right  }
            #ping_view .ping-obj > span.address {width: 28%; text-align:left }
            #ping_view .ping-obj:first-child span{ text-align: center }

#ping_view .ping-info{ width: 100%; margin-bottom: 5px; table-layout:fixed;}
    #ping_view .ping-info tr{ margin-bottom: 1px; }
    #ping_view .ping-info th{ text-align: center;   margin-bottom: 1px;}
    #ping_view .ping-info td{ padding:5px; text-align: center; margin-bottom: 1px;}

#login {padding-top: 10px;}