@font-face {
    font-family: 'Mono';
    src: url('./Droid Sans Mono.ttf') format('truetype');
}
* {transition: background 0.5s; }

body, html { height:100%; overflow: hidden; border-radius: 5px; -webkit-user-select: none; font-family: "Helvetica Neue", "Helvetica", Helvetica, 'Microsoft YaHei UI' ,'Microsoft YaHei', sans-serif }
::-webkit-scrollbar { width: 8px;}
::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{ border-radius: 3px }
a{ text-decoration: none !important; }
header {
    height: 30px;
    line-height:30px;
    overflow: hidden;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}
header .actionbar-left { margin:0; padding: 0;  list-style: none; color:#aaa; float: left; -webkit-app-region: no-drag; margin-left: 10px;
    -webkit-user-select: none;}
header .actionbar-right{ margin:0; padding: 0;  list-style: none; float: right; color:#aaa;  -webkit-app-region: no-drag;
    -webkit-user-select: none;   }
header ul li { padding: 0 4px; display: inline-block; min-width:30px; height:30px; text-align: center; transition: color 1s;
         float: left; cursor:pointer; transition: background 0.5s linear }
    header ul li a{ color:#aaa}
form label { font-family: 'Helvetica',serif; font-weight: normal }


#wrap{height:100%;}
    #wrap section{ margin-bottom: 30px}
#status { position: absolute; bottom: 10px; z-index:1000; width: 25%; padding: 0 15px;}
#status .normal, #status .error {  font-size:24px; }
#status .normal .info,#status .error .info { font-size: 12px; position: relative; bottom: 5px }
#status a{padding: 5px 15px; }
#status .normal a:hover { background: transparent !important; }
#status .error a:hover{ cursor: pointer }

#NavBar { margin-top: 20px; height: 100%;  }
    #NavBar > ul.nav-pills>li a{ transition:background 0.3s;  }
#Content { height: 100%; margin-top:15px; overflow-y: auto; overflow-x: hidden;}
    #Content  .terminal { height: 100%; }
    #Content .terminal .terminal { padding: 5px; }
    #Content > .terminal { font-family: 'Mono' serif; font-size: 12px !important ;  -webkit-user-select:text;}
        #Content > .terminal .content {  height: 100%; border-radius: 5px; overflow:hidden; }
    #Content .setting{ height: 100%; border-radius: 5px; padding-top: 20px }

#ping_view{ height:100%}
    #ping_view .tab-content{padding-top: 5px; }
        #ping_view .tab-content .alert{ padding: 5px 10px; margin-bottom: 5px }
    #ping_view .nav li a{ cursor: pointer;}
    #ping_view .setting { height: 100%;  padding-top: 20px}
    #ping_view .nav-tabs { border:0; height: 32px}
    #ping_view .data-block { margin-top: 10px;}
        #ping_view .data-block > .ping-obj {padding: 0 5px; width: 100%; margin-bottom: 1px;}
            #ping_view .ping-obj > span {float:left; display: inline-block; padding: 0 5px; height: 30px; line-height: 30px; margin-right: 1px; width:10%; text-align: right  }
            #ping_view .ping-obj > span.address {width: 28%; text-align:left }
            #ping_view .ping-obj:first-child span{ text-align: center }

#ping_view .ping-info{ width: 100%; margin-bottom: 5px; table-layout:fixed;}
    #ping_view .ping-info tr{ margin-bottom: 1px; }
    #ping_view .ping-info th{ text-align: center;   margin-bottom: 1px;}
    #ping_view .ping-info td{ padding:5px; text-align: center; margin-bottom: 1px;}

#login,#user_info {padding: 0;}
