<div id="ping_view">
    <div class="col-sm-9">
        <!--<div class="btn-group btn-group-sm">-->
        <!--<button type="button" class="btn btn-success"><i class="fa fa-play"></i> Start</button>-->
        <!--<button type="button" class="btn btn-warning"><i class="fa fa-pause"></i> Pause</button>-->
        <!--<button type="button" class="btn btn-danger"><i class="fa fa-stop"></i> Stop</button>-->
        <!--<button type="button" class="btn btn-info"><i class="fa fa-eject"></i> Clear</button>-->
        <!--</div>-->
        <!--<div class="data-block">-->
        <!--<div class="ping-obj"><span class="address">Address</span><span class="sent">Sent</span><span-->
        <!--class="received">Rec</span><span class="lost">Lost</span><span class="max">Max</span><span-->
        <!--class="min">Min</span><span class="avg">Avg</span><span class="ave"> Action</span>-->
        <!--</div>-->
        <!--<div class="ping-obj" ng-repeat="p in ping_array">-->
        <!--<span class="address"><i class="fa fa-arrow-down fa-fw"></i> {{p.$obj.address}}</span>-->
        <!--<span class="sent">{{p.$sent}}</span>-->
        <!--<span class="received">{{p.$received}}</span>-->
        <!--<span class="lost">{{p.$lost}}</span>-->
        <!--<span class="max">{{p.$max}}</span>-->
        <!--<span class="min">{{p.$min}}</span>-->
        <!--<span class="avg">{{p.$avg}}</span>-->

        <!--<p ng-hide="true">123123</p>-->
        <!--</div>-->
        <!--</div>-->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-repeat="p in ping_array" ng-class="{active:active_p==p}">
                <a ng-click="Ping_Click(p)">&nbsp;{{p.$obj.address}}&nbsp;
                    <div class="pull-right">
                        <span class="label label-warning">{{p.$high}}</span>
                        <span class="label label-danger">{{p.$lost}}</span>&nbsp;<i ng-click="Close(p)"
                                                                                    class="fa fa-times "></i></div>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <table class="ping-info" cellspacing="1">
                <tr>
                    <th>Sent</th>
                    <th>Received</th>
                    <th>Lost</th>
                    <th>Max</th>
                    <th>Min</th>
                    <th>Avg</th>
                </tr>
                <tr>
                    <td>{{active_p.$sent}}</td>
                    <td>{{active_p.$received}}</td>
                    <td>{{active_p.$lost}} %</td>
                    <td>{{active_p.$max}} ms</td>
                    <td>{{active_p.$min}} ms</td>
                    <td>{{active_p.$avg}} ms</td>
                </tr>
            </table>
            <div ng-class="{'alert alert-success':d.type=='low', 'alert alert-warning':d.type=='high','alert alert-danger':d.type=='error'}"
                 ng-repeat="d in active_p.$data | limitTo:20">{{d.time | date: 'HH:mm:ss'}}&nbsp; Ping
                {{active_p.$obj.address}} :: {{d.value}}ms
            </div>
        </div>
    </div>
    <div class="setting col-sm-3">
        <form role="form" name="linkForm">
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" ng-model="link.address" placeholder="Address"
                       ng-init="link.address='127.0.0.1'" required>
            </div>
            <!--<div class="form-group">-->
            <!--<label for="count">Limit (0 is Unlimited)</label>-->
            <!--<input type="text" class="form-control" id="count" ng-model="link.count" placeholder="Limit"-->
            <!--ng-init="link.count=4" ng-pattern="/^[0-9]+$/" required>-->
            <!--</div>-->
            <div class="form-group">
                <label for="interval">Interval (ms)</label>
                <input type="text" class="form-control" id="interval" ng-model="link.interval" placeholder="Interval"
                       ng-init="link.high_ping=200" ng-pattern="/^[0-9]+$/" required>
            </div>

            <div class="form-group">
                <label for="high_ping">TimeOut (ms)</label>
                <input type="text" class="form-control" id="high_ping" ng-model="link.high_ping" placeholder="Time Out"
                       ng-init="link.interval=1000" ng-pattern="/^[0-9]+$/" required>
            </div>

            <button type="submit" class="btn btn-primary pull-right" ng-hide="conn.enable"
                    ng-disabled="linkForm.$invalid"
                    ng-class="{inverse:linkForm.$invalid,' btn-primary':linkForm.$valid}"
                    ng-click="Ping(link)"><i class="fa fa-plus"></i></button>

            <p class="clearfix">

            </p>

            <div class="btn-group btn-group-sm btn-group-justified">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-success" ng-click="active_p.start()"><i class="fa fa-play"></i></button>
                </div>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-warning" ng-click="active_p.stop()"><i class="fa fa-pause"></i></button>
                </div>
            </div>
            <p class="clearfix"></p>
            <div class="btn-group btn-group-sm btn-group-justified">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-info" ng-click="all_start()"><i class="fa fa-retweet"></i></button>
                </div>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-danger" ng-click="all_stop()"><i class="fa fa-stop"></i></button>
                </div>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default" ng-click="all_clear()"><i class="fa fa-recycle"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>