<div id="ping_view">
    <div class="col-sm-9">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-repeat="p in ping_array" ng-class="{active:active_p==p}"><a
                    ng-click="Ping_Click(p)"><i ng-click="Close(p)" class="fa fa-times"></i>&nbsp;{{p.$obj.address}}&nbsp;
                <span class="label label-success">{{p.$data.length}}</span>
                <span class="label label-warning">{{p.$high_data.length}}</span>
                <span class="label label-danger">0</span></a>
            </li>
        </ul>
        <div class="tab-content">
            <div ng-class="{'alert alert-success':d.type=='low', 'alert alert-warning':d.type=='high','alert alert-danger':d.type=='error'}"
                 ng-repeat="d in active_p.$data | limitTo:20">{{d.time | date: 'HH:mm:ss'}}&nbsp; Ping {{active_p.$obj.address}} :: {{d.value}}ms
            </div>
        </div>
    </div>
    <div class="setting col-sm-3">
        <form role="form" name="linkForm">
            <div class="form-group">
                <label for="address">目标地址</label>
                <input type="text" class="form-control" id="address" ng-model="link.address" placeholder="目标地址"
                       ng-init="link.address='127.0.0.1'" required>
            </div>
            <div class="form-group">
                <label for="count">次数（0为不限制）</label>
                <input type="number" class="form-control" id="count" ng-model="link.count" placeholder="次数"
                       ng-init="link.count=4" ng-pattern="/\d+/" required>
            </div>
            <div class="form-group">
                <label for="interval">间隔（单位：ms）</label>
                <input type="number" class="form-control" id="interval" ng-model="link.interval" placeholder="高延迟"
                       ng-init="link.high_ping=200" ng-pattern="/\d+/" required>
            </div>

            <div class="form-group">
                <label for="high_ping">设置高延迟（单位：ms）</label>
                <input type="number" class="form-control" id="high_ping" ng-model="link.high_ping" placeholder="间隔"
                       ng-init="link.interval=1000" ng-pattern="/\d+/" required>
            </div>

            <button type="submit" class="btn btn-primary" ng-hide="conn.enable" ng-disabled="linkForm.$invalid"
                    ng-class="{inverse:linkForm.$invalid,' btn-primary':linkForm.$valid}"
                    ng-click="Ping(link)"><i class="fa fa-plus"></i></button>
        </form>
    </div>
</div>