<div id="login" class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">{{i18n.server_setting}}</div>
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <label for="server_path">{{i18n.server_path}}</label>
                    <input type="url" class="form-control" id="server_path" ng-disabled="user.logined"
                           ng-model="server.location"
                           placeholder="{{i18n.server_path}}" required>
                </div>
                <div class="form-group">
                    <label for="email">{{i18n.email}}</label>
                    <input type="email" class="form-control" id="email" ng-disabled="user.logined"
                           ng-model="user.username"
                           placeholder="{{i18n.email}}"
                           required>
                </div>
                <div class="form-group">
                    <label for="psd">{{i18n.password}}</label>
                    <input type="password" class="form-control" id="psd" ng-disabled="user.logined" ng-model="user.psd"
                           placeholder="{{i18n.password}}"
                           required>
                </div>
                <button type="submit" id="login-button" ng-click="UserSave(user,server)"
                        ng-class="{'btn-default': !user.logined,'btn-danger':user.logined}"
                        class="btn btn-default pull-left">{{user.logined?i18n.logout:i18n.login}}<span
                        ng-show="server.status!=-1&&!user.logined"
                        class="text-danger"> : {{i18n.status_code[server.status]}}</span>
                </button>
            </form>
        </div>
    </div>
</div>

<div id="user_info" class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">{{i18n.user_info_setting}}</div>
        <div class="panel-body">
            <form role="form" name="user_info_form">
                <div class="form-group">
                    <label for="email">{{i18n.User.email}}</label>
                    <input type="email" class="form-control" id="email_info" ng-model="user_info.email" disabled>
                </div>
                <div class="form-group">
                    <label for="password">{{i18n.User.password}}</label>
                    <input type="{{user_info.pass_type}}" class="form-control" id="password" ng-model="user_info.password">
                    <p class="help-block">{{i18n.User.password_tip}}</p>
                </div>
                <div class="form-group">
                    <label for="name_info">{{i18n.User.name}}</label>
                    <input type="text" class="form-control" id="name_info" ng-model="user_info.name" required>
                    <p class="help-block">{{i18n.required}}</p>
                </div>
                <div class="form-group">
                    <label for="nick_info">{{i18n.User.nick}}</label>
                    <input type="text" class="form-control" id="nick_info" ng-model="user_info.nick">
                </div>
                <div class="form-group">
                    <label for="birth_info">{{i18n.User.birth}}</label>
                    <input type="date" class="form-control" id="birth_info" ng-model="user_info.birth">
                </div>
                <div class="form-group">
                    <label for="addr_info">{{i18n.User.addr}}</label>
                    <input type="text" class="form-control" id="addr_info" ng-model="user_info.address">
                </div>
                <div class="form-group">
                    <label for="tel_info">{{i18n.User.phone}}</label>
                    <input type="tel" class="form-control" id="tel_info" ng-model="user_info.phone">
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-false-value="password" ng-true-value="text" ng-model="user_info.pass_type">{{i18n.User.show_pass}}
                        </label>
                    </div>
                </div>
                <button type="submit" ng-disabled="user_info_form.$invalid" ng-class="{'btn-warning':user_info_form.$valid}" class="btn" ng-click="UserChange(user_info)">{{i18n.submit}}</button>

            </form>
        </div>
    </div>
</div>